asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==4.4.2
Django==4.0.4
dnspython==2.4.1
et-xmlfile==1.1.0
etcd3==0.12.0
grpcio==1.56.2
idna==3.3
imageio==2.31.1
imageio-ffmpeg==0.4.8
moviepy==1.0.3
numpy==1.25.2
openpyxl==3.1.2
Pillow==10.0.0
proglog==0.1.10
protobuf==4.23.4
pymongo==4.4.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tenacity==8.2.2
tqdm==4.65.0
urllib3==1.26.9
